h1 {
    color: white;
    background-color: black;
    margin: 0;
    padding-left: 10px;
}

p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

div {
    background-color: blanchedalmond;
}

div.resultado {
    border: 1px solid black;
    padding: 200px;
    background-color: rgb(231, 231, 231);
    margin: 5px 15px;
    color: black;
}

button {
    margin-bottom: 7px;
    margin-left: 10px;
}